@{
    ViewData["Title"] = "Razor語法練習";
}

<h1>@ViewData["Title"]</h1>

@* 這裡是註解 *@

@* 
 這裡是

 一整個

 的區塊

 註解 *@

@{
    string name = "John";
    var name2 = "";

    string n;

    int Math = 85, Eng = 100, Chi = 94;

    bool flag = true;

    @:My Name is @name

    <h2>My Name is @name</h2>
}


<h2>My Name is @name</h2>

<h2>@Math+@Eng+@Chi</h2>

<h2>@(Math + Eng + Chi)</h2>

<h2>@Math+@Eng+@Chi=@(Math + Eng + Chi)</h2>

<h1>歡迎@name光臨</h1>
<h1>歡迎 @name 光臨</h1>
<h1>歡迎@(name)光臨</h1>

@if (flag)
{
    <h2>歡迎登入本系統</h2>
}
else
{
    <h2>您的帳號密碼有誤</h2>
}

@{
    string[] NightMarket = { "瑞豐夜市", "新堀江商圈", "六合夜市", "青年夜市", "花園夜市", "大東夜市", "武聖夜市" };

}
<div class="col-3">
    <ul class="list-group">
        @foreach (var item in NightMarket)
        {
            <li class="list-group-item">@item</li>
        }

    </ul>
</div>