@model IEnumerable<MyModel_CodeFirst.Models.Book>

@{
   
    ViewData["Title"] = "訪客留言板";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-success">我要留言</a>
</p>
@* //2.2.1 修改適合前台呈現的Index View *@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xl-6">
            <div class="card mb-4">
                @* //2.4.8 在Index View中加入未上傳照片的留言之顯示方式 *@
                @if (item.Photo != null)
                {
                    <img src="~/BookPhotos/@item.Photo" class="card-img-top img-thumbnail" />
                }
                <div class="card-body">
                    <h3 class="card-title">@Html.DisplayFor(modelItem =>@item.Title)</h3>
                    @* //2.4.10 在Index View中加入處理「有換行的留言」顯示方式 *@
                    <p class="card-text">@Html.Raw(item.Description.Replace("\r\n","<br>"))</p>
                </div>
                <div class="card-footer">
                    <p class="text-end">@Html.DisplayFor(modelItem =>@item.Author) 於 @Html.DisplayFor(modelItem => item.TimeStamp) 發表 |
                        @* //2.2.3 在Index View中加入Display Action的超鏈結 *@
                        <a asp-action="Display" asp-route-id="@item.BookID">看更多...</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


